version: "3.9"

services:
  api:
    build: .
    container_name: express-api-mongo
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mongo
    command: ["npm", "start"]

  mongo:
    image: mongo:7
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
