version: "3.9"

services:
  api:
    build: .
    container_name: express-api-postgres
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - postgres
    command: ["npm", "start"]

  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
